<div class="row post">
    <div class="col-md-1">
        <app-votebutton [post]="post"></app-votebutton>
    </div>
    <div class="col-md-11">
        <span class="subreddit-info">
            <span class="subreddit-text"><a class="posturl" routerLink="">{{post.communityName}}</a></span>
            <span> . Posted by <a class="username" routerLink="/user/{{post.username}}">{{post.username}}</a></span>
            <span> . {{post. postDate}}</span>
        </span>
        <hr />
        <div class="post-title">
            <a class="postname" href="{{post.media}}">{{post.postTitle}}</a>
        </div>
        <div>
            <p class="post-text">{{post.postDesc}}</p>
        </div>
        <hr />
        <span>
            <a class="btnCommments" role="button">
                <fa-icon [icon]="faComments"></fa-icon>
                Comments({{post.commentNum}})
            </a>
            <button class="login" (click)="goToPost(post.postId)">
                Read Post
            </button>
        </span>
    </div>
</div>