<div class="reddit-body">
    <div class="row banner">
        <div class="heading">
            <span class="text">Posts in {{communityName}}</span>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <hr />
            <app-post class="col-md-9" *ngFor="let post of posts" [post]="post"></app-post>
            <div class="col-md-3">
                <sidebar></sidebar>
                <sidebar-view></sidebar-view>
            </div>
        </div>
    </div>
</div>