<div style="height:10px; background:#27aae1;"></div>
<!-- NAVBAR END -->
<!-- Main Area -->
<section class="container py-2 mb-4">
    <div class="row">
        <div class="col-lg-12">

            <table class="table table-striped table-hover">
                <thead class="thead-dark">
                    <tr>
                        <th>#</th>
                        <th>Title</th>
                        <th>Category</th>
                        <th>Date&Time</th>
                        <th>Author</th>
                        <th>Media</th>
                        <th>Comments</th>
                        <th>Action</th>
                        <th>Live Preview</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>

                        </td>
                        <td>

                        </td>
                        <td>

                        </td>
                        <td>
                        </td>
                        <td>
                        </td>
                        <td><img src="" width="170px;" height="50px"> </td>
                        <td>

                            <span class="badge badge-success">

                            </span>

                            <span class="badge badge-danger">

                            </span>

                        </td>
                        <td>
                            <!--<a href="EditPost.php?id=<?php echo $post['id']; ?>"><span class="btn btn-warning">Edit</span></a>-->
                            <a href="DeletePost.php?id=<?php echo $post['id']; ?>"><span
                                    class="btn btn-danger">Delete</span></a>
                        </td>
                        <td>
                            <a href="" target="_blank"><span class="btn btn-primary">Live Preview</span></a>
                        </td>
                    </tr>
                </tbody>
                <!--  Ending of While loop -->
            </table>
        </div>
    </div>
</section>
<!-- Main Area End -->